fastapi
uvicorn
pydantic
python-dotenv
psycopg[binary,pool]
pgvector
google-genai
requests
beautifulsoup4
websockets>=13.0
mistralai==1.1.0
cohere
PyPDF2
python-docx
pandas
python-multipart
pytubefix
yt-dlp
youtube-transcript-api
httpx[http2]
sentence-transformers
supabase
