@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

/* Ensure the message container is the only scrollable area */
#message-container {
  scrollbar-gutter: stable;
}

/* Hide scrollbar visually but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
